body {
    margin: 0%;
    padding: 0%;
}

img {
    max-width: 100%;
    height: auto;
}

p{
    font-size: 1vw;
    font-family: monospace;
}

.left {
    background-color: antiquewhite;
    padding: 20px;
    float: left;
    width: 20%;
}

.right {
    background-color: bisque;
    padding: 20px;
    float: left;
    width: 20%;
    text-align: right;
}

.main {
    background-color: azure;
    padding: 20px;
    float: left;
    width: 60%;
    text-align: center;
}


@media screen and (max-width: 800px) {
    .left, .main, .right{
        width: 100%;
    }
}

* {
    box-sizing: border-box;
}

li {
    font-size: 1vw;
    font-family: monospace;
    color: burlywood;
}
